html {
  height: 100%;
  width: 100%;
  background-color: #9c9696 ;
}

.box {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #fff ;
}

.box button {
  background-color: #5a20f8;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}